<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.erdaoya.springcloud.user.mapper.UserMapper">
	<select id="selectUserById" parameterType="long" resultType="user">
        SELECT id,loginName,password,nickName,mobile,email,gender,registerTime, updateTime FROM user WHERE id = #{id}
    </select>
    <insert id="insertUser" parameterType="user">
        INSERT INTO user VALUES(#{id},#{loginName},#{password},#{mobile}, #{email}, #{gender}, now());
    </insert>
</mapper>